



<section>
    <!-- class=" direction" -->
      <nav class="navbar navbar-expand-lg fixed-top ">
        <div class="container-fluid mx-3  ">
         
       <div class="d-flex justify-content-between w-100">
        <a class="navbar-brand pt-2  " routerLink="/home"><img src="/assets/images/logo.png" class="logo mx-1" alt="">Alumni</a>
        <div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav ml-auto">
   
              <ng-container *ngIf="(currentUser$ | async)=== undefined">
                <a pButton label="Login" icon="pi pi-user-plus" routerLink="/login" class="login-button mx-1" style="background-color: #fff; color: #3F51B5;"></a>
                <a pButton label="Register" icon="pi pi-user-plus" routerLink="/register" class="register-button mx-1" style="background-color: #fff; color: #3F51B5;"></a>
            </ng-container>
    
           <p-menubar [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" *ngIf="(currentUser$ | async)" [model]="menuItems"  styleClass="navbar-menu"></p-menubar>


            </ul>
          </div>
        </div>
       </div>
    
      </div>
      </nav>
    </section>
    
    
    
    
    