.navbar
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-bottom: #fff solid 2px;
    background-color: #3F51B5;
    color: #fff;
  }

.logo
{
    width: 40px;
    height: 40px;
}

.navbar a
{
    color: #fff;
    font-size: 18px;
}
.active
{
    color: #fff;
    border-radius: 25px;
}

.active a
{
    background: #fff;
    color: #3F51B5;
    border-radius: 15px;
}

.nav-item {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.dropdown a{
  color: #3F51B5;
}

.dropdown-toggle a{
  color: #fff;
}