@import "./src/styles/colors.scss";

.container {
  padding: 20px;
  color: $mainColor;
  font-family: Arial, Helvetica, sans-serif;
   background-color: whitesmoke;
   border: solid 1px #3F51B5;
   border-radius: 3%;
   box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
 
   .content-form{
    margin-top: 5%;
   }

   .button button{
    background-color: #3F51B5;
    color: #fff;
   }

   .content-img img{
    margin-top:20%;
   }

   .head-content{
    border-radius: 5%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-right: solid 1px #3F51B5;
   }

}