<section *ngIf="loginForm" class="login-section mt-5 pt-5">

  <div class="container">
    <div class="row d-flex">

      <div class="col-md-6 col-sm-12 bg-white head-content">
        <div class="content-image mx-3 text-center">
          <img src="/assets/images/g2.png" alt="Grad Icon" class="w-50 my-5 mx-5 ">
    
        </div>
      </div>

      <div class="col-md-6 col-sm-12">
        <div class="content-form">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-container">
            <div class="form-group">
              <label for="float-input2 ">Email</label>

                 <input id="float-input2"  class="form-control form-control-lg" formControlName="email" type="email" pInputText>
              <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error-message">
                <small>Email is required and must be valid</small>
              </div>
            </div>
            <br>
            <div class="form-group">
              <label for="password">Password</label>
              <input formControlName="password" class="form-control form-control-lg" type="password">
              <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error-message">
                <small>
                  Pass is required and must be 6-10 char,at least 1 upper,1 lower,
                  1 digit, and 1 special char.
                </small>
              </div>
            </div>
            <div class="forgot-password">
              <a (click)="showDialog()">Forgot Password?</a>
            </div>
            <div class="form-group button text-center pt-2">
              <button pButton pRipple type="submit" class="btn w-75" [disabled]="loginForm.invalid">Login</button>
            </div>
          </form>
          </div>
        </div>


    </div>
  </div>







  <p-dialog class="dialog" header="Forgot Password" [(visible)]="display" [style]="{width: '35vw', height:'24vw'}"
  [modal]="true" [draggable]="true" [resizable]="false" [maximizable]="true">

  <form (ngSubmit)="submitForm()" class="forgot-password-form">
    <div class="form-group">
      <label for="email">Email</label>
      <br>
      <input type="email" pInputText class="p-inputtext" id="email" name="email" [(ngModel)]="email" required>
    </div>
    <br>
    <button type="submit" pButton class="p-button" label="Submit"></button>
  </form>

</p-dialog>


</section>
