.main-page {
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: #fff;
}

.content {
  text-align: center;
  padding: 20px;
  margin-bottom: 110px;
}

.logo-image {
  width: 570px;
  height: 560px;
  position: absolute;
  left: 54%;
  top: 23%;
}

h1 {
  font-size: 32px;
  margin-top: 20px;
  color: #fff;

}

p {
  font-size: 18px;
  margin-top: 10px;
  color: #fff;
}

.image{
  position: absolute;
  left: 0px;
  top: 68px;
  background-color: #3649b0;
  border-bottom: 2px solid #fff;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  z-index: -1;
}


